p {
   color: #009D9D;;
}

body{
    background-image: url(office.jpg);
    background-size: cover;
}

.button{


    text-decoration-color: 009D9D;
    
} 
.button:hover{
    border: 5px solid;
    border-color:green;
    background-color: green;
    border-radius: 16px;
    padding:8px;

    text-align: center;
}  
li{
    margin:20px;
    display: inline-block;
    
    
}