body{
    background-image: url(d1.jpg);
    background-size: cover;
}
h1{
  color: darkgreen;
  
  
  text-align: center;
}

.text{
    padding: 5px;
    margin: 5px;
}
a{
    
    
    color: seashell;
}